<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="1ec4a1bf-f581-413d-8539-aaf436035e90" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://api.github.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="1ec4a1bf-f581-413d-8539-aaf436035e90fileName">https%3A%2F%2Fapi.github.com</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://api.github.com</con:endpoint>
  </con:endpoints>
</con:interface>
