<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f047a20d-f7e3-48cb-a407-326f76a6a581" name="Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f047a20d-f7e3-48cb-a407-326f76a6a581fileName">Test-Suite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
